body{
  /*Requisito 1*/
  background-color:rgb(253, 251, 251);
  padding: 10px;
}
#cabecalho{
   /*Requisito 2*/
  position: fixed;
  top: 0;
  background-color: aqua;
}
   /*Requisito 3*/
#minha_foto{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}
/*Requisito 4*/
#licoes_aprendidas{
  font-size: 20px;
  color: blueviolet;

}
/*Requisito 5*/
#licoes_a_aprender{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*Requisito 6*/
#rodape{

}
article{
  font-family: monospace;
  border: 2px double gray;
  padding: 5px;
}
section{
  border: 1px dotted black;
  margin-bottom: 10px;
}
aside{
  border: 1px solid salmon;
  margin-top: 10px;
}
p, h1, h2, h3{
  margin: 10px;
}
nav{
  margin-top: 50px;
}
.lado-esquerdo,
.lado-direito{
  display: inline-block;
  width: 600px;
}
p{
  line-height: 20px;
}