
body{
    background-color: rgb(24, 23, 29);
    color: aliceblue;
    padding: 3%;
}

.abilities li:nth-child(odd){
    background-color: silver;
    border: 1px solid gold;
    color: black;
}

#nome {
font-family:'Courier New', Courier, monospace;}

.estilo1{
    font-style: italic;
    color: coral;
}

    a{
    background-color: aliceblue;
    padding: 10px;
}

#sobremim{
    font-family:monospace;
}

      .criatividade {
          background-color: rgb(14, 48, 36);
          font-family:sans-serif
          
      }
      .pessoal{
          color: rgb(219, 49, 148);
      }
      .comunica {
          font-style: oblique;
          font-size: 2em;
      }

      .atualiza {

        color: rgb(218, 198, 169);
      text-decoration: underline;
        
    }
      .equipe{
          font-size: 20px; 
       font-style: italic; }
      .determina
      {
          color: chocolate;
      }
      #head_title{
          text-align: center;
        }

 
    .first_head{
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin: 5px;

   
  }

  .head_container{
      max-width: 1200px;
      margin: 0 auto;
   
  }
  #Rapha_photo{
      padding: 5px;
      background-color: gold;
   
  }

  
  