@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.alice-carousel__stage-item .__active .__target {
  align-self: center;
}

.alice-carousel__stage-item.__active {
	&:after {
		content: '';
		display: block;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: solid 1px transparent;
		transition: border .8s;
	}
}


img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.alice-carousel__next-btn-item, 
.alice-carousel__prev-btn-item {
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: clamp(28rem, calc(28rem + 2vw), 30rem);
  overflow: hidden;
  box-shadow: 0 .2rem 2rem rgba(131, 129, 129, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  transition: all 0.3s ease-in-out;

}

.alice-carousel__wrapper {
  padding: 50px 0;
  height: 100% !important;
  margin: 0;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  justify-content: center;
}
